.container {
  max-width: 800px;
  margin: 29px auto;
  padding: 50px;
  border: 1px solid gray;
  border-radius: 8px;
}
#font-larg {
  font-size: xx-large;
  font-weight: bolder;
}
#font-small {
  font-size: medium;
  margin-top: 10%;
  margin-left: 3%;
}
.weather {
  position: static;
  margin-top: -10%;
  margin-left: 80%;
  font-size: smaller;
}
.city {
  margin: 2px 40px 20px 10px;
}
#line {
  margin-left: 60%;
  margin-top: 0%;
}

.btn-danger {
  background-color: rgb(79, 112, 244);
  border: 1px solid gray;
  border-radius: 10%;
}
.btn-danger:hover {
  cursor: pointer;
  color: aliceblue;
}
.font-preci {
  text-decoration: underline;
}
#link-info {
  position: static;
  margin-top: -20%;
  margin-left: 20%;
}
