.container {
  max-width: 800px;
  margin: 29px auto;
  padding: 50px;
  border: 1px solid gray;
  border-radius: 8px;
}
#font-larg {
  font-size: xx-large;
  font-weight: bolder;
}
#font-small {
  font-size: medium;
  position: relative;
  margin-top: 10%;
  margin-left: 3%;
}
.weather {
  position: absolute;
  margin-top: 6%;
  margin-left: 24%;
  font-size: smaller;
}
#line {
  position: absolute;
  margin-left: 33%;
  margin-top: -8%;
}
.city {
  position: relative;
  margin: top -20%;
}

.btn-danger {
  background-color: rgb(79, 112, 244);
  border: 1px solid gray;
  border-radius: 10%;
}
.btn-danger:hover {
  cursor: pointer;
  color: aliceblue;
}
.font-preci {
  text-decoration: underline;
}
#link-info {
  position: absolute;
  margin-top: -2%;
  margin-left: 19%;
}
